:root {
  --bg-red: #B81515;
  --bg-red-white: #8F0101;
  --bg-black: #000000;
  --bg-gray: #8C8C8C;
  --bg-gray-white: #D9D9D9;
  --bg-white: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 75px;
  background-color: var(--bg-black);
}

header li {
  display: flex;
  list-style: none;
  gap: 50px;
}

header ul a {
  text-decoration: none;
  color: var(--bg-white);
  font-weight: 700;
}

header ul a:hover {
  color: var(--bg-red);
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 100px;
}

.journey {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  height: 620px;
  padding: 0px 150px;
  background: url(../assets/Banner-Blog.png);
}

.journey h1 {
  font-size: 48px;
  font-weight: bold;
  color: var(--bg-white);
}

.journey p {
  width: 500px;
  font-size: 32px;
  font-weight: 400;
  color: var(--bg-white);
}

.line-top {
  width: 160px;
  border-bottom: 3px solid red;
}

.box-title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.line {
  width: 80%;
  border-bottom: 5px solid red;
}

.tokyo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 100px;
}

.tokyo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
  width: 1200px;
}

.chegada {
  display: flex;
  height: 360px;
}

.text {
  width: 588px;
  height: 360px;
}

.text h2 {
  font-size: 28px;
  font-weight: bold;
}

.text p {
  margin-top: 20px;
  width: 500px;
  line-height: 30px;
  font-size: 20px;
  font-weight: 400;
}

.chegada img {
  width: 588px;
  height: 360px;
}

.acomodacao {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.acomodacao h2 {
  font-size: 28px;
  font-weight: bold;
}

.acomodacao p {
  font-size: 20px;
  font-weight: 400;
}

.acomodacao span {
  font-size: 14px;
  font-weight: 400;
}

.explorando {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.explorando h2 {
  margin-top: 20px;
  font-size: 28px;
  font-weight: bold;
}

.explorando p {
  font-size: 20px;
  font-weight: 400;
}

.talvez {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 100px;
  width: 1200px;
  padding-bottom: 150px;
}

.talvez-container {
  display: flex;
  gap: 25px;
}

.talvez-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 384px;
}

.talvez-box h2 {
  font-size: 32px;
  font-weight: bold;
}

.talvez-box p {
  width: 340px;
  line-height: 30px;
  font-size: 20px;
  font-weight: 400;
}

.talvez-box img {
  width: 384px;
  height: 300px;
}

.talvez-box button {
  cursor: pointer;
  border: none;
  width: 225px;
  height: 50px;
  font-size: 16px;
  font-weight: 700;
  border-radius: 10px;
  color: var(--bg-white);
  background-color: var(--bg-red);
}

.talvez-box button:hover {
  transform: scale(1.05);
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 50px 100px;
  height: 232px;
  background-color: var(--bg-black);
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact img {
  width: 162px;
  height: 40px;
}

.contact span {
  font-size: 18px;
  color: var(--bg-white);
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.social ul {
  display: flex;
  gap: 10px;
}

.social ul img:hover {
  transform: scale(1.20);
}

.social h2 {
  font-size: 16px;
  font-weight: 400;
  color: var(--bg-white);
}