*,
*::before,
*::after {
  --azul-escuro: #154580;
  --azul-medio: #3970BE;
  --azul-claro: #E5F1FF;
  --cinza-texto: #444444;
  --cinza-claro: #ECECEC;
  box-sizing: border-box;
}

body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  background-color: var(--azul-claro);
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: auto;
  font-size: 14px;
  color: white;
  box-sizing: border-box;
  text-align: center;
}

.cabecalho-container {
  background-color: white;
  height: 80px;
  width: 100%;
  padding: 0 25px;
}

.logo-item {
  background-image: url(assets/Logo.png);
  background-repeat: no-repeat;
  padding: 15px 65px;
  cursor: pointer;
}

.pesquisar-input {
  width: 260px;
  height: 32px;
  border: 1px solid rgb(211, 211, 211);
  font-size: 16px;
  padding: 3px 8px;
  border: 1px solid rgb(211, 211, 211);
}

.pesquisar-label {
  background-image: url(assets/search.png);
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid rgb(211, 211, 211);
  background-color: #F9F9F9;
  border-left: none;
  padding: 8px 18px 5px;
  cursor: pointer;
}

.cabecalho-audio {
  background-image: url(assets/mic.png);
  padding: 20px;
  display: none;
}

.cabecalho-videos {
  background-image: url(assets/video_call.png);
  background-repeat: no-repeat;
  background-position: center;
  padding: 20px;
}

.cabecalho-apps {
  background-image: url(assets/apps.png);
  background-repeat: no-repeat;
  background-position: center;
  padding: 13px 30px 13px 13px;
}

.cabecalho-notificacoes {
  background-image: url(assets/notifications.png);
  background-repeat: no-repeat;
  background-position: center;
  padding: 13px 30px 13px 13px;
}

.cabecalho-avatar {
  background-image: url(assets/Avatar.png);
  background-repeat: no-repeat;
  background-position: center;
  padding: 13px 30px 13px 13px;
}

.menu-container {
  background-color: var(--azul-escuro);
  font-size: 14px;
}

.menu-itens:hover {
  background-color: var(--azul-medio);
  transition: .5s;
}

.icone-inicio::before {
  content: url(assets/home.png);
}

.icone-explorar::before {
  content: url(assets/explore.png);
}

.icone-shorts::before {
  content: url(assets/shorts.png);
}

.icone-inscricoes::before {
  content: url(assets/subscriptions.png);
}

.icone-biblioteca::before {
  content: url(assets/video_library.png);
}

.icone-historico::before {
  content: url(assets/history.png);
}

.icone-relogio::before {
  content: url(assets/history_toggle_off.png);
}

.icone-like::before {
  content: url(assets/thumb_up_alt.png);
}

.icone-alura::before {
  content: url(assets/Avatar_Alura.png);
}

.icone-gaveta::before {
  content: url(assets/Avatar_Gaveta.png);
}

.icone-ballerini::before {
  content: url(assets/Avatar_Rafa.png);
}

.icone-iamarino::before {
  content: url(assets/Avatar_Atila.png);
}

.icone-souto::before {
  content: url(assets/Avatar_Souto.png);
}

.icone-nerd::before {
  content: url(assets/Avatar_Jovem_Nerd.png);
}

.icone-deschamps::before {
  content: url(assets/Avatar_Deschamps.png);
}

.icone-mostrar::before {
  content: url(assets/keyboard_arrow_down.png);
}

.icone-videos::before {
  content: url(assets/videos.png);
}

.icone-filmes::before {
  content: url(assets/filmes.png);
}

.icone-jogos::before {
  content: url(assets/jogos.png);
}

.superior-secao-container {
  height: 63px;
  color: white;
  font-size: 16px;
  background-color: var(--azul-claro);
  padding: 0 20px;
  position: fixed;
  top: 80px;
  right: 0;
  left: 0;
}

.superior-item {
  color: var(--cinza-texto);
  font-size: 16px;
  background-color: white;
  border-radius: 20px;
  padding: 8px 20px;
  cursor: pointer;
}

.superior-item:hover {
  color: white;
  background-color: var(--azul-escuro);
  transition: .5s;
}

.videos-container {
  color: black;
  padding: 153px 20px 10px 20px;
}

.videos-item:hover {
  transform: scale(1.04);
  background-color: var(--azul-claro);
  z-index: 2;
  transition: .5s;
}

.descricao-video h3 {
  font-weight: 700;
  color: #444444;
}

.descricao-video p {
  font-size: 14px;
  color: #444444;
}

.rodape-container {
  width: 100%;
  height: 875px;
  color: var(--cinza-texto);
  line-height: 1.5;
  font-size: 16px;
  background-color: white;
}

.rodape-titulo {
  color: var(--azul-medio);
  font-weight: bold;
  padding: 10px 0 20px 0;
}

@media(min-width: 834px) {
  body {
    height: 100vh;
  }

  .menu-container {
    font-size: 16px;
  }

  .menu-lista {
    padding-top: 15px;
  }

  .menu-lista li {
    width: 100%;
  }

  .superior-secao-container {
    border-top: var(--azul-medio) 1px solid;
    border-bottom: var(--azul-medio) 1px solid;
    width: auto;
    left: 82px;
  }

  .videos-container {
    padding-left: 90px;
    padding-right: 17px;
  }

  .videos-item:hover {
    transform: scale(1.03);
  }

  .rodape-container {
    height: 420px;
    padding-left: 74px;
  }
}

@media(min-width: 1440px) {
  .superior-secao-container {
    left: 247px;
  }

  .menu-lista {
    border-bottom: 1.5px solid var(--azul-medio);
  }

  .videos-container {
    padding-right: 10px;
    padding-left: 248px;
  }

  .rodape-container {
    padding-left: 240px;
    height: 225px;
  }
}